/* Boolzap Template CSS */

/* Generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Montserrat;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
}
main {
  display: flex;
  height: 100%;
}
.left-menu {
  width: 35%;
  height: 100%;
  /* background-color: green; */
}
.right-menu {
  width: 65%;
  height: 100%;
  background-color: blue;
}
.personal-area {
  background-color: #eaeaea;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact-info {
  background-color: #eaeaea;
  height: 70px;
  border-left: solid 1px #cecece;
  display: flex;
  align-items: center;
}
.alert-area {
  height: 80px;
  background-color: #8ddbfc;
}
.search-area {
  height: 50px;
  background-color: white;
  display: flex;
  align-items: center;
  border: solid 5px #eaeaea;
}
.contact-conv {
  display: flex;
  align-items: center;
  height: 90px;
  border-bottom: solid 1px #cecece;
  cursor: pointer;
}
.contact-conv:hover {
  background-color: #e9eceb;
}
.conv-active {
  background-color: #e9eceb;
}
.text-space {
  height: calc(100% - 130px);
  padding: 50px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.send-area {
  background-color: #f3eeea;
  height: 60px;
  display: flex;
  align-items: center;
}
.field-pic {
  width: 90px;
  text-align: center;
}
.field-info {
  width: calc(100% - 130px);
}
.field-img {
  width: 70px;
  height: auto;
  border-radius: 50%;
  background-color: #eeeeee;
}
.field-name {
  font-size: 16px;
  font-weight: 600;
  margin: 5px 0;
}
.field-lastmsg {
  font-size: 12px;
  color: grey;
}
.field-hour {
  font-size: 12px;
  color: grey;
  width: 40px;
}
.text-space {
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.alert-area {
  display: flex;
  align-items: center;
}
.alert-title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
}
.alert-link {
  text-decoration: underline;
  cursor: pointer;
  font-size: 12px;
}
.alert-pic {
  width: 80px;
  text-align: center;
}
.alert-pic i {
  color: #8ddbfc;
  font-size: 22px;
  background-color: white;
  border-radius: 50%;
  padding: 18px;
}
.alert-text {
  width: calc(100% - 80px);
}
.mypicture-img {
  width: 50px;
  height: auto;
  border-radius: 50%;
  background-color: white;
  margin: 5px;
  cursor: pointer;
}
.myoptions {
  font-size: 22px;
  color: #cecece;
}
.myoptions i {
  cursor: pointer;
  margin: 0 8px;
}
.myoptions i:last-child {
  margin-right: 20px;
}
.myoptions i:hover {
  color: grey;
}
.search-lens {
  width: 20%;
  text-align: center;
  background-color: white;
}
.search-lens i {
  color: #cecece;
  font-size: 16px;
}
.search-bar {
  width: 80%;
}
.search-bar input {
  width: 100%;
  border: none;
  height: 30px;
}
.send-emoji {
  width: 10%;
  text-align: center;
}
.send-input {
  width: 80%;
}
.send-button {
  width: 10%;
  text-align: center;
}
.send-emoji i {
  font-size: 20px;
  color: #6a7376;
  cursor: pointer;
}
.send-button i {
  font-size: 20px;
  color: #6a7376;
  cursor: pointer;
}
.send-button i:hover {
  color: #31b4e0;
}
.send-input input {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
  padding: 0 15px;
}
.contact-pic {
  width: 70px;
  text-align: center;
}
.contact-pic img {
  width: 50px;
  height: auto;
  border-radius: 50%;
  background-color: white;
  margin: 5px;
  cursor: pointer;
}
.contact-title {
  width: calc(100% - 195px);
}
.contact-options {
  width: 125px;
}
.contact-options {
  font-size: 22px;
  color: #cecece;
  text-align: right;
}
.contact-options i {
  cursor: pointer;
  margin: 0 8px;
}
.contact-options i:last-child {
  margin-right: 20px;
}
.contact-options i:hover {
  color: grey;
}
.contact-name {
  font-size: 16px;
  font-weight: 600;
  margin: 3px 0;
}
.last-seen {
  font-size: 12px;
  color: grey;
}
.owner-msg {
  background-color: #d5f9ba;
  border-radius: 5px;
  padding: 20px 25px;
  max-width: 50%;
  margin: 7px;
  position: relative;
  align-self: flex-end;
}
.contact-msg {
  background-color: white;
  border-radius: 5px;
  padding: 20px 25px;
  max-width: 50%;
  margin: 7px;
  position: relative;
  align-self: flex-start;
}
.hour-msg {
  position: absolute;
  bottom: 3px;
  right: 8px;
  color: grey;
  font-size: 10px;
}
